<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Configucius_ConnectionString" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Configucius_Domain" value="PRODUCT"/>
    <add key="Configucius_Environment" value="Stage"/>
  </appSettings>
</configuration>